<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">       
        <title>학식메이트</title>
        <link rel="stylesheet" href="css/recomFood.css?ver=2">
        <link rel="shortcut icon" type="image/x-icon" href="images/icon2.jpg" />
    </head>
    <body>
        <section class="h_recommend">
            <div class="container">
                <h1>메뉴 추천</h1>
                <div class="l_t">
                    <div class="form-group">
                        <b class="name" style="font-size: 120%;">추천 메뉴</b><br>
                        <br><b class="name">카테고리</b><br>
                        <a><%=category%></a><br>
                        <br><b class="name">식당</b><br>
                        <a><%=restaurant%></a><br>
                        <br><b class="name">메뉴</b><br>
                        <a><%=menu%></a><br>
                        <br><b class="name">메뉴 설명</b><br>
                        <a><%=foodexplain%></a><br>
                        <br><b class="name">가격</b><br>
                        <a><%=price%></a><br>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>